MB_DEBUG=true
MB_ROLES=govc,oc,terraform,tf
MB_MATTERMOST_URL=mattermost.example.com
MB_MATTERMOST_USERTOKEN=mysecretusertoken
MB_MATTERMOST_TEAM=test
MB_MATTERMOST_CHANNEL=town-square
MB_PRIVATEBIN_ENABLE=true
MB_PRIVATEBIN_HOST=paste.example.com
MB_PRIVATEBIN_FORMATTER=syntaxhighlighting
MB_PRIVATEBIN_EXPIRE=6days
MB_PRIVATEBIN_OPENDISCUSSION=false
MB_PRIVATEBIN_BURNAFTERREADING=false
MB_PRIVATEBIN_PASSWORD=
MB_GOVC_HOST=vcenter-server-appliance-endpoint.example.com
MB_GOVC_DATACENTER=mydatacenter
MB_GOVC_USERNAME=myvsphereusername
MB_GOVC_PASSWORD=mysecretpasswordformyvsphereusername
MB_TERRAFORM_EXECUTABLE=/usr/bin/terraform
MB_MB_TERRAFORM_WRAPPER_EXECUTABLE=/opt/terraform/tf.sh
MB_OC_EXECUTABLE=/usr/local/bin/oc
MB_GOVC_EXECUTABLE=/usr/local/bin/govc