ROLES=govc,oc,terraform,tf
MATTERMOST_HOST=mattermost-host.tld
MATTERMOST_EMAIL=email@account.tld
MATTERMOST_USER=bpt-username
MATTERMOST_PASSWORD=secretpassword
MATTERMOST_TEAM=TEAM
MATTERMOST_CHANNEL=bot-channel
PRIVATEBIN_ENABLE=true
PRIVATEBIN_HOST=https://paste.yourdomain.tld
PRIVATEBIN_FORMATTER=syntaxhighlighting
PRIVATEBIN_EXPIRE=6days
PRIVATEBIN_OPENDISCUSSION=false
PRIVATEBIN_BURNAFTERREADING=false
PRIVATEBIN_PASSWORD=
GOVC_URL=https://vcsa.domain
GOVC_DATACENTER=datacenter
GOVC_USERNAME=vcsa_username
GOVC_PASSWORD=secretpassword
